@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: #fff;
    min-height: 100vh;
    background: rgb(31,31,31);
    background: linear-gradient(137deg, rgba(31,31,31,1) 0%, rgba(45,45,63,1) 73%, rgba(17,17,17,1) 100%);
}